body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;

    color: #ACF4F4;
text-align: center;
font-family: Audiowide;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 80px; /* 200% */
letter-spacing: -2px;
}

section{
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
}

h1{
    font-size: 1em;
}

p{
    font-size: 0.5em;
}

a{
    text-decoration: none;
    
}

img{
  position: absolute;
  transform: translate(-50%, 10%);
  width: 80vw;
  z-index: 10;
}

.popIn{

  animation: popIn 250ms 2 linear;
}

@keyframes popIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
  
}

#secondPage{
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 80vh;
  flex-direction: column;
  justify-content: center;

}

#backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scrollBackground 20s linear infinite;
  }
  
  /* The scrolling text lines */
  .backgroundScroll {
    font-weight: bold;
    font-size: .8em;
    /* color: rgba(255, 255, 255, 0.1); */
    text-transform: uppercase;
    letter-spacing: 5px;
    user-select: none;
    margin: 0;
  }
  
  /* Stationary button */
  #joinSearch {
    position: absolute;
    top: 60%;
    width: 100%;
    transform: translate(-50%, 100%);
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.555);
    border-radius: 8px;
    transition: all 0.3s 
ease;
    z-index: 10;
  }
  
  #joinSearch:hover {
    background: white;
    color: black;
  }
  
  /* Keyframes for continuous scroll */
  @keyframes scrollBackground {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }



.hidden{
    display: none;
}